.highlight-content {
  background-color: #000;
  position: relative;
  color: #fff;
  padding: 1rem;
  font-size: 1.6rem;
}

.top {
  padding: 3rem;
}

.top p {
  margin-top: 0.4rem;
  font-weight: 100;
  font-size: 1.4rem;
}

.highlight-content svg {
  height: 2rem;
}

.highlight-content h3 {
  font-size: 3rem;
  margin: 0;
  margin-top: 0.4rem;
  font-weight: 400;
}

.highlight-content img {
  width: 32rem;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  filter: grayscale(1);
}

.auth-form {
  height: 100%;
  padding: 1rem;
}

.auth-form form {
  border: 1px solid #000;
  padding: 3rem 2rem;
  min-width: 28rem;
}

.auth-form form label {
  display: block;
  margin-bottom: 0.5rem;
}

.auth-form .form-group {
  margin-bottom: 1rem;
}

.form-group input {
  width: 100%;
  border-radius: 0;
  box-shadow: none;
  border: 1px solid #000;
  min-height: 54px;
  padding: 0.5rem 1rem;
  font-family: "Source Code Pro";
}

.form-group input:focus-visible {
  outline: 1px solid #000;
}

.btn-group {
  margin-top: 2rem;
}

.btn-group svg {
  opacity: 0.7;
  position: absolute;
  left: 1rem;
}
