:root {
  --ff-body: "Source Code Pro", "Inter", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  /* overflow: hidden; */
}

body {
  margin: 0;
  font-family: var(--ff-body);
  font-size: 1rem;
}

textarea {
  font-family: var(--ff-body);
  font-size: inherit;
  padding: 1rem;
  width: 100%;
  border: none;
  border-right: 2px solid #333333;
  resize: none;
}

textarea:is(:focus, :focus-within, :active) {
  outline: none;
}

button {
  font-family: inherit;
  border: 1px solid #000;
  border-radius: 0;
  box-shadow: none;
  background-color: #fff;
  padding: 0.5rem 1rem;
  min-height: 40px;
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.3rem;
}

::-webkit-scrollbar-track {
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 0;
  border-top: none;
  border-bottom: none;
}

::-webkit-scrollbar-thumb {
  background-color: #000;
}

:focus-visible {
  outline: transparent auto 1px;
}

.flex {
  display: flex;
}

.inline-flex {
  display: inline-flex;
}

.flex-1 {
  flex: 1;
}

.h-100 {
  height: 100%;
}

.p-1 {
  padding: 1rem;
}

.gap-1 {
  gap: 0.5rem;
}

.gap-sm {
  gap: 0.3rem;
}

.h-1 {
  height: 1.6rem;
}

.w-1 {
  width: 1.6rem;
}

.h-auto {
  height: auto;
}

.text-white {
  color: #fff;
}
.align-items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.m-0 {
  margin: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 1rem;
}

.px-5 {
  padding-inline: 1.5rem;
}

.py-1 {
  padding-block: 0.5rem;
}

.text-center {
  text-align: center;
}

.btn-primary {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.btn-secondary {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}
/******************************************/
/**************  Settings Bar  ****************/
/******************************************/
.settings svg {
  cursor: pointer;
}

/******************************************/
/**************  Editor  ****************/
/******************************************/
.editor {
  overflow: hidden;
  position: relative;
}
/* .editor > * {
  max-width: 50%;
} */

.editor-preview {
  overflow-y: auto;
  word-wrap: break-word;
  border-left: 1px solid #000;
}

.cm-theme,
.cm-editor {
  height: 100%;
}
.cm-editor {
  padding: 1rem;
  font-size: 15px;
}

.settings {
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

.tag {
  background-color: #000;
  color: #fff;
  font-size: 13px;
  padding: 0.1rem 0.3rem;
  border: 1px solid #fff;
}

.cm-editor .cm-content {
  white-space: inherit;
}

.cm-editor .cm-scroller {
  font-family: var(--ff-body);
  display: block !important;
}

/******************************************/
/**************  Navbar  ****************/
/******************************************/
.navbar {
  min-height: 40px;
  border: 1px solid #000;
  gap: 3rem;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar a {
  text-decoration: none;
  color: #000;
}
